:root {
	--platform-width: 25vw;
	--platform-height: 30vh;

	--discord-blurple: #5a66f5;

    --discord-blurple-shade1: rgba(90, 103, 245, 0.3);
    --discord-blurple-shade2: rgba(90, 103, 245, 0.15);

    --discord-text-shade1: #d7d9fb;
    --discord-text-shade2: #dcddff;

	--matrix-meadow: #0dbd8b;

	--matrix-meadow-shade1: rgba(13, 189, 139, 0.3);
	--matrix-meadow-shade2: rgba(13, 189, 139, 0.15);

	--matrix-text-shade1: #c5eee4;
	--matrix-text-shade2: #c9f4e7;

	--lemmy-accent: #66d7ba;

	--lemmy-accent-shade1: rgba(102, 215, 186, 0.3);
	--lemmy-accent-shade2: rgba(102, 215, 186, 0.15);

	--lemmy-text-shade1: #c5eee4;
	--lemmy-text-shade2: #c9f4e7;
}

.app {
	text-align: center;
	max-width: 100vw;
}

.app .present {
	animation: appearTxt 0.5s ease-out forwards;
}

.appicon,
.present img {
	border-radius: 22%;
	width: 20vw;
	margin: 2vh;
}

.app.soon .present img {
	width: 7vw;
}

.appicon,
.present img.no-radius {
	border-radius: 0;
}

.app h1,
.present .title {
	font-size: 4.5em;
	margin: 10px;
}

.details {
	font-size: 16px;
	text-align: justify;
	padding: 0 8em;
	padding-top: 5em;
}

.return {
	margin: 1em 0 5em 0;
	z-index: 999;
}

.present .caption {
	text-align: center;
}

.picker {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 2em 0;
}

.picker button {
	border: none;
	color: inherit;
	font-family: var(--apple-sf);
	background: none;
	cursor: pointer;
	font-size: 2em;
	padding: 1.5vh 5vh;
	border-radius: 8px;
	transition: 0.25s background var(--apple-spring);
}

.picker button:hover {
	background: var(--apple-bg-tertiary-l);
}

.picker button.selected {
	background: var(--apple-bg-secondary-l) !important;
}

.gallery {
	overflow: hidden hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 0 7em 0;
}

.gallery.h {
	/* Horizontal Gallery */
	overflow: auto hidden;
	justify-content: left;
}

.gallery img {
	height: 60vh;
	padding: 20px 1em;
}

.present p.appstore {
	font-size: 3em;
	text-align: center;
	padding: 1em 0;
	font-weight: 700;
}

.app .appstore img {
	height: 6em;
	margin: 2em;
}

.center {
	width: 100vw;
	display: flex;
	flex-direction: column;
	height: fit-content;
	align-items: center;
}

.platforms {
	display: flex;
	gap: 2vw;
	flex-direction: row;
	justify-content: center;
}

.platform {
	width: var(--platform-width);
	min-height: var(--platform-height);
	border: 1px solid #ffffff66;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border-radius: 15px;
	gap: 15px;
	padding: 30px 10px;
	backdrop-filter: blur(10px);
}

.platform p {
	background-clip: text;
	color: transparent;
}

.platform > img {
	height: calc(var(--platform-width) / 7);
}

.platform .appname {
	font-size: 1.5em;
	font-weight: 700;
}

.platform .caption {
	font-size: 1em;
	text-align: justify;
	margin: 0 5px;
}

.platform .action {
	padding: 20px 30px;
	color: #fff;
	text-decoration: none;
	border-radius: 15px;
	margin: 10px 0;
}

.platform .action:hover {
	filter: brightness(0.9);
}

/* platforms in question */

.discord {
	background: linear-gradient(var(--discord-blurple-shade1), var(--discord-blurple-shade2));
}

.discord p {
	background-image: linear-gradient(180deg, var(--discord-text-shade1), var(--discord-text-shade2));
}

.discord .action {
	background: var(--discord-blurple);
}

.matrix {
	background: linear-gradient(var(--matrix-meadow-shade1), var(--matrix-meadow-shade2));
}

.matrix p {
	background-image: linear-gradient(180deg, var(--matrix-text-shade1), var(--matrix-text-shade2));
}

.matrix .action {
	background: var(--matrix-meadow);
}

.lemmy {
	background: linear-gradient(var(--lemmy-accent-shade1), var(--lemmy-accent-shade2));
}

.lemmy p {
	background-image: linear-gradient(180deg, var(--lemmy-text-shade1), var(--lemmy-text-shade2));
}

.lemmy .action {
	background: #565656;
}

.github {
	background: linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 64%, 0.15));
}

.github p {
	color: #fff;
}

.github .action {
	background: #fff;
	color: #000;
}

.twitter {
	background: linear-gradient(rgba(29, 161, 242, 0.3), rgba(29, 161, 242, 0.15));
}

.twitter p {
	background-color: rgba(167, 214, 243, 0.9);
}

.twitter .action {
	background: #1da1f2;
	color: #fff;
}

@media (prefers-color-scheme: dark) {
	.picker button:hover {
		background: var(--apple-bg-tertiary-d);
	}

	.picker button.selected {
		background: var(--apple-bg-secondary-d) !important;
	}
}

@media screen and (max-width: 900px) {
	:root  {
		--platform-width: 85vw;
	}
	.app.soon .present img {
		width: 20vw;
	}

	.present p {
		font-size: 16px;
		text-align: justify;
		padding: 0 4vh;
	}

	.details {
		padding: 0 1.5em;
		padding-top: 5em;
	}

	.appicon,
	.present img {
		width: 40vw;
	}

	.platforms {
		gap: 4vw;
		flex-direction: column;
	}
}

@keyframes appearTxt {
	0% {
		opacity: 0;
		transform: translateY(5vh);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
