h1 {
    text-align: center;
    margin: 2em;
    font-size: 3em;
}

.follower {
    margin-top: 2em !important;
}

.app-grid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, calc(50vw - 20px));
    gap: 10px;
    grid-auto-rows: 50vh;
}

.app-grid .app {
    grid-column: auto;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-grid .app,
.app-list .app {
    border-radius: var(--rounded);
}

.app-grid .app p {
    font-size: 5vh;
    font-weight: 700;
}

.app-grid .app img {
    width: 220px;
    height: 220px;
    margin: 20px;
    /* border: 1px solid #ffffff18; */
}

.app img {
    border-radius: 22%;
}

.amber {
    background: radial-gradient(
        circle at 10% 20%,
        #ff9c0b 0px,
        #fca41f 70px,
        #f9aa33 150px,
        #f8ae3f 500px
    );
}

.amber a {
    color: #fff;
    font-weight: 600;
}

.app-grid .remote {
    background: url("https://apps.lumaa.fr/assets/images/cider/HeroBanner.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    color: #fff;
}

.bubble {
    background: linear-gradient(to bottom, #222222, #101010);
    color: #fff;
}

.fraca {
    background: linear-gradient(
        to bottom right,
        rgb(112.2, 35.7, 22.95) 10%,
        black 30%,
        black 70%,
        rgb(15.3, 51, 102) 90%
    );
    color: #fff;
}

.app-list {
    margin: 0 calc((50vw - 20px) / 2);
    width: calc(50vw - 20px);
    display: flex;
    flex-direction: column;
}

.app-list .app:first-child {
    border-top-left-radius: var(--rounded);
    border-top-right-radius: var(--rounded);
}

.app-list .app > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
}

.app-list .app {
    border-radius: 0;
    background: var(--apple-bg-secondary-l);
    padding: 0.75em 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app-list .app:last-child {
    border-bottom-left-radius: var(--rounded);
    border-bottom-right-radius: var(--rounded);
}

.app-list .app img {
    width: 100px;
    height: 100px;
}

.app-list .remote {
    background: #0c0a09;
}

@media screen and (max-width: 1040px) {
    .app-grid .app {
        grid-column: 1 / 3;
        grid-row: auto;
    }

    .app-grid .app img {
        width: 180px;
        height: 180px;
        margin: 30px;
    }

    .app-list .app img {
        width: 70px;
        height: 70px;
    }

    .app-list {
        margin: 0 calc(20vw / 2);
        width: calc(80vw - 20px);
    }
}

@media (prefers-color-scheme: dark) {
    .app-list .app {
        background: #171717;
    }
}